@model IEnumerable<ProjectMVC.Logica.Models.ViewModels.ProjectsIndexViewModel>
@{
    ViewBag.Title = "Index";
}

<h2 class="mt-2">
    <a class="btn btn-primary" title="Nuevo Registro" style="float:right;color:white" href="@Url.Action("Create","Projects")">
        <i class="fas fa-plus-circle" style="margin-right:10px"></i>Add
    </a>
    Projects
</h2>
<hr />

@*@Html.ActionLink(" ", "Create", "Projects", null, new { @class = "btn btn-primary fas fa-plus-circle" })*@

<table class="table table-bordered table-hover">
    <thead class="text-center">
        <tr>
            <th>Tasks</th>
            <th>Calendar</th>
            <th>@Html.DisplayNameFor(x => x.Title)</th>
            <th>@Html.DisplayNameFor(x => x.Details)</th>
            <th>@Html.DisplayNameFor(x => x.ExpectedCompletionDate)</th>
            <th>@Html.DisplayNameFor(x => x.CreatedAt)</th>
            <th>@Html.DisplayNameFor(x => x.UpdatedAt)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-center">@Html.ActionLink(" ", "Index", "Tasks", new { projectId = item.Id }, new { @class = "btn btn-primary fas fa-tasks" })</td>
            <td class="text-center">@Html.ActionLink(" ", "Calendar", "Tasks", new { projectId = item.Id }, new { @class = "btn btn-primary far fa-calendar-alt" })</td>
            <td>@Html.DisplayFor(model => item.Title)</td>
            <td>@Html.DisplayFor(model => item.Details)</td>
            <td>@Html.DisplayFor(model => item.ExpectedCompletionDate)</td>
            <td>@Html.DisplayFor(model => item.CreatedAt)</td>
            <td>@Html.DisplayFor(model => item.UpdatedAt)</td>
            <td class="text-center" style="width:130px">
                @*@Html.ActionLink(" ", "Edit", "Projects", new { id = item.Id }, new { @class = "btn btn-primary btn-sm fas fa-edit" })
            @Html.ActionLink(" ", "Details", "Projects", new { id = item.Id }, new { @class = "btn btn-primary btn-sm fas fa-info-circle" })
            @Html.ActionLink(" ", "Delete", "Projects", new { id = item.Id }, new { @class = "btn btn-primary btn-sm fas fa-trash" })*@
                <a href="@Url.Action("Details","Projects", new { id = item.Id })" title="View Details the registry"><i class="fas fa-eye" style="font-size:20px;color:green"></i></a>
                <a href="@Url.Action("Edit","Projects", new { id = item.Id })" title="Edit registry" class="mx-2"><i class="fas fa-edit" style="font-size:20px"></i></a>
                <a href="@Url.Action("Delete","Projects", new { id = item.Id })" title="Delete registry"><i class="fas fa-trash" style="font-size:20px;color:red"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>