@model IEnumerable<ProjectMVC.Logica.Models.ViewModels.TasksIndexViewModel>
@{
    ViewBag.Title = "Index";
}

<h2 class="mt-2">
    <a class="btn btn-primary" title="Nuevo Registro" style="float:right;color:white" href="@Url.Action("Create","Tasks", new { projectId = ViewBag.Project.Id })">
        <i class="fas fa-plus-circle" style="margin-right:10px"></i>Add
    </a>
    Tasks
</h2>
<hr />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Projects", "Index", "Projects")</li>
        <li class="breadcrumb-item active" aria-current="page">Tasks of @ViewBag.Project.Title</li>
    </ol>
</nav>

@*@Html.ActionLink(" ", "Create", "Tasks", new { projectId = ViewBag.Project.Id }, new { @class = "btn btn-primary fas fa-plus-circle" })*@
@*@Html.ActionLink(" ", "Index", "Projects", null, new { @class = "btn btn-danger fas fa-undo-alt" })*@

<table class="table table-bordered">
    <thead class="text-center">
        <tr>
            <th>@Html.DisplayNameFor(x => x.Title)</th>
            <th>@Html.DisplayNameFor(x => x.Details)</th>
            <th>@Html.DisplayNameFor(x => x.ExpirationDate)</th>
            <th>@Html.DisplayNameFor(x => x.IsCompleted)</th>
            <th>@Html.DisplayNameFor(x => x.Effort)</th>
            <th>@Html.DisplayNameFor(x => x.RemainingWork)</th>
            <th>@Html.DisplayNameFor(x => x.State)</th>
            <th>@Html.DisplayNameFor(x => x.Activity)</th>
            <th>@Html.DisplayNameFor(x => x.Priority)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Title)</td>
                <td>@Html.DisplayFor(model => item.Details)</td>
                <td>@Html.DisplayFor(model => item.ExpirationDate)</td>
                <td>@Html.DisplayFor(model => item.IsCompleted)</td>
                <td>@Html.DisplayFor(model => item.Effort)</td>
                <td>@Html.DisplayFor(model => item.RemainingWork)</td>
                <td>@Html.DisplayFor(model => item.State)</td>
                <td>@Html.DisplayFor(model => item.Activity)</td>
                <td>@Html.DisplayFor(model => item.Priority)</td>
            </tr>
        }
    </tbody>
</table>